<p>view works!</p>
<!-- get by id -->
<form >
    <input type="text" placeholder="User Id" name="userid" #userid>
    <button (click)="getDataById(userid.value)">Get By ID</button>
    </form>
    <!-- <p>{{jsonDatabyId | json}}</p> -->
    <pre>{{jsonDatabyId | json}}</pre>
  
<!-- view full details -->
<button (click)="getDataFromAPI()">View All</button>
<table class="table table-striped"> 
    <thead>
     <tr>
       <th scope="col">ID</th>
       <th scope="col">USER ID</th>
       <th scope="col">TITLE</th>
       <th scope="col">BODY</th>
       
     </tr>
   </thead>
   <tbody>
       <tr *ngFor="let item of jsonData">
         <th scope="row">{{ item.id }}</th>
         <td>{{ item.userId }}</td>
         <td >{{ item.title }}</td>
         <td>{{ item.body }}</td>
       </tr>
         
   </tbody>
</table> 

